# macOS
.DS_Store

# Windows
Thumbs.db

# IDE / Редакторы
.idea/
.vscode/
*.swp
*.swo

# Google Apps Script (если когда-нибудь будешь использовать clasp)
.clasp.json
.claspignore

# Временные и бэкап файлы
*.tmp
*.bak
*~

# Логи
*.log
